@media only screen and (max-width: 600px) {

.styleContainer{
    text-align: center;
  }
  
  .styleText{
    top: 59px;
    font-size: 1.9em !important;

  
  }
  .styleText .text-wrapper{
    left: 0px;
  }
  
  .hairstyleContainer{
    height: 431px;
    position: relative;
    top: 13px;
    margin: auto;
    width: 100%;
  }
  
  .hairstyle{
    background: green;
    height: 60px;
    position: relative;
      top: 10px;
      margin: 10px;
      border-radius: 32px;
  
  }

  .sizeContainer{
    text-align: center;
  
  }  
  .filepond--root{
    position: relative;
    top: 127px;
    left: 78px;
  }
}