@media only screen and (max-width: 600px) {

.arrow{
    width: 26%;
    float: right;
    position: relative;
    top: 355px;  
  }
  
  .carrotDiv{
    text-align: center;
    position: relative;
      top: -28px;
  
  }
  .carrotRight{
    width: 6vw;
  
  }
  .carrotLeft{
    width: 6vw;
    transform: rotate(180deg);
    margin-right: 37%;
  
  
  }
}