@media only screen and (max-width: 600px) {

.slide-left{
    position: relative;
    left: 85%;
    animation: slideIn 1s forwards;
    top: 173px;
  }

  .slide-left2{
    position: relative;
    /* left: 85%; */
    animation: slideIn3 1s forwards;
    /* top: 173px; */
  }

  @keyframes slideIn {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-85%);
    }
  }

  @keyframes slideIn3 {
    0% {
      transform: translateX(371px);
    }
    75% {
      transform: translateX(-470px);
    }
    100%{
      transform: translateX(-353px);
    }
  }
  
  .slideOut{
    animation: slideOut .6s forwards;
  }
  
  @keyframes slideOut {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-100%);
    }
  }

  .dJfBbk{
    position: relative;
    left: 371px;
    top: 30px;
    animation: slideIn2 1s forwards;
  }

  @keyframes slideIn2 {
    0% {
      transform: translateX(371px);
    }
    75% {
      transform: translateX(-470px);
    }
    100%{
      transform: translateX(-381px);
    }
  }
}