@media only screen and (max-width: 600px) {

.avail{
    top: 26px !important;
    text-align: center;
  }

  .availCheck{
    bottom: 40px !important;

  }
}

.travelTitle{
    text-align: center;
}

.travelContainer{
    text-align: center;
    margin-right: 14px;
    margin-top: 50px;
}

.travel{
    margin-bottom: 25px;
}

.address{
    top: 0px;
}