/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: myFirstFont;
  src: url('./fonts/appoint.ttf');
}

.title{
  font-family: myFirstFont;
  margin-top: 2rem!important;
  color: #2c2c2c;
  /* background-color: #d5d5d5; */
  letter-spacing: 0.05em;
  text-shadow: 1px 4px 0px #c3a3b6, 7px 7px 0px rgba(0, 0, 0, 0.2);
}
/* 
html, body {
  overflow-x: hidden !important;
  max-width: 100% !important;
} */

body {
	background: linear-gradient(-45deg, #f19122, #3bfa4b, #00e1ff, #23d5ab);
	background-size: 400% 465%;
	animation: gradient 5s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
